extends ../layout

block content
    h1= title  
    p This application will help you manage your bookmarks!
    p
        a(href="/bookmarks/add") Add New Bookmark
    ul#content
        - for(bookmark in bookmarks) {
        li= bookmarks[bookmark].device_id
        | &nbsp;- (
        a(href=bookmarks[bookmark].desc) link
        | )
        | &nbsp;- (
        a(href="/bookmarks/edit/"+bookmarks[bookmark].id) edit
        | )
        | &nbsp;- (
        a(href="/bookmarks/delete/"+bookmarks[bookmark].id,onclick="return confirm('Are you sure want to delete this record?');") delete
        | )
        - }